@tailwind base;
@tailwind components;
@tailwind utilities;

img,
svg {
  max-width: 100%;
}

body {
  font-size: 16px;
}

.hist-inner-container {
  max-width: 1368px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
.hist-outer-container {
  max-width: 1728px;
  margin: 0 auto;
}
.subtitle-20-24 {
  font-size: clamp(1.25rem, 1.1807rem + 0.2956vw, 1.5rem);
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.4px;
}
.title-32-76 {
  font-size: clamp(2rem, 1.2378rem + 3.252vw, 4.75rem);
  line-height: 110%;
  font-weight: 500;
}
.desc-16-20 {
  font-size: clamp(1rem, 0.9008rem + 0.4233vw, 1.25rem);
  line-height: 150%;
  font-weight: 400;
}
.testimonial-title-16-36 {
  font-size: clamp(1rem, 0.6535rem + 1.4782vw, 2.25rem);
  font-weight: 400;
  line-height: 160%;
}
.subtitle-rectangle {
  width: 10px;
  height: 24px;
  display: inline-block;
  background-color: #fe490c;
  margin-right: 8px;
}
.vertical-padding-48-82 {
  padding-top: clamp(3rem, 2.411rem + 2.5129vw, 5.125rem);
  padding-bottom: clamp(3rem, 2.411rem + 2.5129vw, 5.125rem);
}
.horizontal-padding-24-64 {
  padding-left: clamp(1.5rem, 0.8071rem + 2.9564vw, 4rem);
  padding-right: clamp(1.5rem, 0.8071rem + 2.9564vw, 4rem);
}
.faq-title-20-32 {
  font-size: clamp(1.25rem, 1.0421rem + 0.8869vw, 2rem);
  font-weight: 400;
  line-height: 120%;
}
.pt-16-32 {
  padding-top: clamp(1rem, 0.7228rem + 1.1826vw, 2rem);
  padding-bottom: clamp(1rem, 0.7228rem + 1.1826vw, 2rem);
}
.hero-title-56-128 {
  font-size: clamp(3.5rem, 2.2528rem + 5.3215vw, 8rem);
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.12px;
}
.hero-desc-18-32 {
  font-size: clamp(1.125rem, 0.8825rem + 1.0347vw, 2rem);
  font-weight: 400;
  line-height: 160%;
}

.process-card-32-48 {
  font-size: clamp(2rem, 1.7228rem + 1.1826vw, 3rem);
  font-weight: 400;
  line-height: 110%;
}

.cardWrap {
  border-radius: 8px;
  background: linear-gradient(
    221deg,
    rgba(255, 255, 255, 0.32) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.05) inset,
    0px 0px 55px 0px rgba(42, 45, 61, 0.08);
  backdrop-filter: blur(229px);
}

.process-card-vertical-padding-48-112 {
  padding-top: clamp(3rem, 1.8914rem + 4.7302vw, 7rem);
  padding-bottom: clamp(3rem, 1.8914rem + 4.7302vw, 7rem);
}
.process-card-horizontal-padding-32-64 {
  padding-left: clamp(2rem, 1.4457rem + 2.3651vw, 4rem);
  padding-right: clamp(2rem, 1.4457rem + 2.3651vw, 4rem);
}

.customSwiper {
  padding-left: clamp(1.5rem, -41.25rem + 50vw, 12.75rem) !important;
}
