@tailwind base;
@tailwind components;
@tailwind utilities;

img,
svg {
  max-width: 100%;
}

body,
html {
  font-size: 16px;
  scroll-behavior: smooth;
  color: white;
}

.hist-inner-container {
  max-width: 1368px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
.hist-outer-container {
  max-width: 1728px;
  margin: 0 auto;
}
.subtitle-20-24 {
  font-size: clamp(1.25rem, 1.1807rem + 0.2956vw, 1.5rem);
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.4px;
}
.title-32-76 {
  font-size: clamp(2rem, 1.2378rem + 3.252vw, 4.75rem);
  line-height: 110%;
  font-weight: 400;
}
.desc-16-20 {
  font-size: clamp(1rem, 0.9008rem + 0.4233vw, 1.25rem);
  line-height: 150%;
  font-weight: 400;
}
.testimonial-title-16-36 {
  font-size: clamp(1rem, 0.6535rem + 1.4782vw, 2.25rem);
  font-weight: 400;
  line-height: 160%;
}
.subtitle-rectangle {
  width: 10px;
  height: 24px;
  display: inline-block;
  background-color: #fe490c;
  margin-right: 8px;
}
.vertical-padding-48-82 {
  padding-top: clamp(3rem, 2.411rem + 2.5129vw, 5.125rem);
  padding-bottom: clamp(3rem, 2.411rem + 2.5129vw, 5.125rem);
}
.horizontal-padding-24-64 {
  padding-left: clamp(1.5rem, 0.8071rem + 2.9564vw, 4rem);
  padding-right: clamp(1.5rem, 0.8071rem + 2.9564vw, 4rem);
}
.faq-title-20-32 {
  font-size: clamp(1.25rem, 1.0421rem + 0.8869vw, 2rem);
  font-weight: 400;
  line-height: 120%;
}
.pt-16-32 {
  padding-top: clamp(1rem, 0.7228rem + 1.1826vw, 2rem);
  padding-bottom: clamp(1rem, 0.7228rem + 1.1826vw, 2rem);
}
.hero-title-56-128 {
  font-size: clamp(3.5rem, 2.2528rem + 5.3215vw, 8rem);
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.12px;
}
.hero-desc-18-32 {
  font-size: clamp(1.125rem, 0.8825rem + 1.0347vw, 2rem);
  font-weight: 400;
  line-height: 160%;
}

.about-us-title-mb {
  margin-bottom: clamp(3.375rem, 0.9498rem + 10.3474vw, 12.125rem);
}
.about-us-designation-14-24 {
  font-size: clamp(0.875rem, 0.7018rem + 0.7391vw, 1.5rem);
  font-weight: 400;
  line-height: 120%;
}
.process-card-32-48 {
  font-size: clamp(2rem, 1.7228rem + 1.1826vw, 3rem);
  font-weight: 400;
  line-height: 110%;
}

.cardWrap {
  border-radius: 8px;
  background: linear-gradient(
    221deg,
    rgba(255, 255, 255, 0.32) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.05) inset,
    0px 0px 55px 0px rgba(42, 45, 61, 0.08);
  backdrop-filter: blur(229px);
  min-height: 500px;
}

.process-card-vertical-padding-48-112 {
  padding-top: clamp(3rem, 1.8914rem + 4.7302vw, 7rem);
  padding-bottom: clamp(3rem, 1.8914rem + 4.7302vw, 7rem);
}
.process-card-horizontal-padding-32-64 {
  padding-left: clamp(2rem, 1.4457rem + 2.3651vw, 4rem);
  padding-right: clamp(2rem, 1.4457rem + 2.3651vw, 4rem);
}

.customSwiper {
  padding-left: clamp(1.5rem, -41.25rem + 50vw, 12.75rem) !important;
  padding-right: 24px !important;
}

.processSlide {
  cursor: url("../public/ahmed.png"), auto !important;
}

#tsparticles2 {
  max-width: 200px !important;
  canvas {
    position: absolute !important;
    border-radius: 50%;
  }
}
.contact-us-form-title {
  font-size: clamp(1.5rem, 1.3614rem + 0.5913vw, 2rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.contact-us-form-desc {
  font-size: clamp(0.875rem, 0.8404rem + 0.1478vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.custom-markerss {
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: relative;
  &:hover {
    &:after {
      content: "";
      position: absolute;
      background-color: white;
      height: 109px;
      width: 1px;
      rotate: 30deg; 
      bottom: 18px;
      left: 8px;
      bottom: -41%;
      left: 50%;
     
      transform: translate(-50%, -50%)
    }
    &::before{
      content: "";
      position: absolute;
      background-color: white;
      height: 39px;
      width: 1px;
      rotate: 86deg;
      bottom: 18px;
      left: 8px;
      bottom: 178%;
      left: 173%;
    }
  }
  // svg{
  //   height: 32px;
  //   width: 32px;
  // }
}
.heroFade{
  transform: translateY(100px);
  opacity: 0;
}

.tooltipss {
  padding: 12px;
  width: 100px;
  white-space: nowrap;
  position: absolute;
  bottom: 103px;
  left: 115px;
}

.locationText {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  top: clamp(7.5rem, 0.4521rem + 21.2766vw, 16.75rem);
  width: 100%;
  @media only screen and (max-width: 520px) {
    position: unset;
    transform: unset;
  }
}
.loader {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  box-shadow: 16px 0 #000, -16px 0 #000;
  position: relative;
  animation: flash 2s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgb(22 22 22 / 80%);
    box-shadow: 16px 0 rgb(22 22 22 / 80%), -16px 0 rgb(22 22 22 / 80%);
  }
  50% {
    background-color: rgb(22 22 22 / 30%);
    box-shadow: 16px 0 rgb(22 22 22 / 30%), -16px 0 rgb(22 22 22 / 30%);
  }
  100% {
    background-color: rgb(22 22 22 / 60%);
    box-shadow: 16px 0 rgb(22 22 22 / 60%), -16px 0 rgb(22 22 22 / 60%);
  }
}

.loaderrrSection{
  position: fixed;
  background-color: #000;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}



.progressLoaderr {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  background: rgba(236, 236, 238, 0.253);
  height: 20px;
  border-radius: 7px;
}

.progresss {
  width: 0px;
  height: 20px;
  border-radius: 7px;
  background-color: #fe490c;
  transition: 0.5s;
}

.count{
  position: absolute;
    bottom: 0;
    left: 32px;
    font-size: 120px;
}


.animatedBtn{
    --border-size: 3px;
    --border-angle: 0turn;
    width: 160px;
    height: 48px;
    border-radius: 100px;
    background-image: transparent;
    background-size: calc(100% - var(--border-size) * 15) calc(100% - var(--border-size) * 8), cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-animation:  bg-spin 3s linear infinite paused;
    animation: bg-spin 3s linear infinite paused;
    span{
      background: #fff;
      height: 93%;
      display: block;
      width: 95%;
      border-radius: 100px;
      margin: 0 auto;
      color: black;
      // line-height: 2;
      &.ftr-span{
        height: 60px !important;
      }
    }
    &.contact{
      span{
        font-size: 1.5rem;
      line-height: 2.2;

      }
    }
    &.btnStrt{
    height: 66px;
    }
  
}

@-webkit-keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.animatedBtn:hover {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #fe490c, #fe490c);
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

@media screen and (min-width: 1200px) and (max-height: 900px) {
    .customGlobeContainer{
      min-height: 200vh;
      height: auto;
      // max-height: 125vh;
  }
}